$white-dark: #f0f0f0;
$white-light: #ffffff;
$blue-dark: #435570;
$blue-light: #5091E5;
$textCol-light: #969696;
$textCol-medium: #838A9C;
$textCol-dark: rgb(83, 83, 83);

$noteCol: #82a9df;
$seeAlsoCol: #b794df;
$warningCol: #e4b178;