header.features {
  @media (min-width: 1470px) {
    top: 0;
  }
  top: -50px;

  h1 {
    font-size: 3rem;
  }

  .sub-header {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

main.features {
  background-color: $white-light;
  position: relative;
  top: -30px;
  .body {
    @media (min-width: 1200px) {
      width: 1200px;
      margin-inline: auto;
    }
    padding-top: 2rem;
    width: 100%;
    padding-inline: 2em;

  }

  .image-container {
    @media (max-width: 600px) {
      height: 280px;
    }
    height: 420px;
    position: relative;
  }

  img {
    height: 100%;
    user-select: none;
    position: relative;
    left: 0;
    transform: translate(-50%, 0%);
  }

  .carousel-container {
    position: relative;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    margin-block: 2em;
  }

  .carousel {
    padding-block: 2em;
    margin-block: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-inline: 4em;
    overflow: hidden;
  }

  .feature-summary {
    font-size: 1.2rem;
    font-family: $textLight;
    line-height: 2.2rem;
    color: $textCol-medium;
  }

  .buttons {
    div {
      z-index: 2;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 210px;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgb(196, 196, 196);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      svg {
        width: 35px;
        height: 35px;
        transform: rotate(180deg) translateX(2px);
        opacity: 0.4;
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(243, 243, 243);
      }
      &:active {
        background-color: rgb(235, 235, 235);
      }
    }

    .right {
      right: 0;
      transform: translate(50%, -50%);
      svg {
        transform: translateX(2px);
      }
    }
  }

  .dots {
    display: flex;
    gap: 30px;
    div {
      background-color: rgb(207, 207, 207);
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }

    .active {
      background-color: rgb(150, 150, 150);
    }
  }

  a {
    font-family: $textHeavy;
  }

  .line {
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(11, 16, 22, 0) 0%,
      rgba(5, 8, 10, 0.288) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    margin-block: 4em;
  }
}
