main.features {
  @media (min-width: 1200px) {
    width: 1200px;
    margin-inline: auto;
  }
  padding-inline: 2em;

  img {
    @media (min-width: 600px) {
      width: 600px;
      margin-inline: auto;
    }
    width: 100%;
    height: auto;
  }
}
