$footerTextCol: #707c8f;

footer {
  overflow: hidden;
  background-color: #3a404a;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: $footerTextCol;
  padding-block: 2em;

  a {
    color: $footerTextCol;
  }

  ul {
    list-style-type: none;
    padding-inline: 3em;
  }

  li {
    margin-block: 0.7em;
  }
  
  .footer-container {
    @media (min-width: 768px) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
  }

  .left, .right {
    
    @media (min-width: 768px) {
      width: 400px;
    }

    @media (min-width: 950px) {
      width: 700px;
    }

    width: auto;
  }

  .left {
    @media (min-width: 768px) {
      text-align: right;
    }
    text-align: left;
  }

  .vertical-line {
    position: relative;
    top: 24px;
    background-color: #555b66;
    height: 85%;
    width: 2px;
  }

  strong {
    font-family: $textHeavy;
  }
}
