header.home-header {
  position: relative;
  overflow: hidden;
  .header {
    @media (min-width: 1280px) {
      left: 380px;
      transform: none;
      height: 290px;
    }

    @media (min-width: 768px) {
      top: 50px;
      width: 490px;
    }

    width: 380px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    position: relative;
    height: 390px;
  }

  h1 {
    @media (min-width: 1280px) {
      text-align: left;
      font-weight: 100;
    }

    @media (min-width: 768px) {
      font-size: 2.8rem;
      line-height: 3.4rem;
      padding-inline: 0;
    }
    
    white-space: pre-line;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    padding-inline: 0.2em;
    font-family: $textNormal;
    font-weight: 700;
  }

  .buttons {
    @media (min-width: 1280px) {
      width: 90%;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }

    margin-top: 2.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
  }

  .download,
  .documentation {
    z-index: 1;
    background-color: $blue-light;
    height: 40px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.3em;
  }

  .documentation {
    background-color: $white-light;
    color: $blue-light;
    border: solid $blue-light 2.5px;
  }

  .computer-screen,
  .computer-screen-image {
    z-index: 0;
    position: absolute;
    width: 1000px;
    left: 560px;
    top: -20px;
  }

  .computer-screen-image {
    z-index: -1;
    width: 670px;
    left: 730px;
    top: 20px;
  }

  .floating-window-image {
    position: absolute;
    z-index: 1;
    width: 280px;
    left: 610px;
    top: 65px;
    border-radius: 0.5em;
    filter: drop-shadow(0 0 7px rgb(172, 172, 172));
  }

  .header-background-graphic {
    @media (min-width: 1280px) {
      // left: -440px;
    }
    user-select: none;
    z-index: -2;
    position: absolute;
    top: -100px;
    max-width: 100vw;
    overflow: hidden;
    img {
      transform: scale(1.2);
    }
  }
}

.home-dividers {
  width: 100vw;
  position: relative;
  top: 10px;
  filter: drop-shadow(0 0 1rem rgb(172, 172, 172));
}

main.home {
  overflow: hidden;
  p {
    white-space: pre-line;
  }

  position: relative;
  background-color: $white-light;
  .section1,
  .section2 {
    @media (min-width: 1280px) {
      width: 1280px;
      margin-inline: auto;
      flex-direction: row;
      align-items: normal;
    }

    @media (min-width: 640px) {
      padding-inline: 2em;
    }

    padding-inline: 0.5em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .content {
      @media (min-width: 1280px) {
        width: 450px;
        padding-inline: 0;
      }
      padding-inline: 2em;
      width: 100%;
    }

    h2 {
      font-family: $textNormal;
      font-size: 2rem;
      line-height: 1.4em;
    }

    p {
      font-family: $textLight;
      color: $textCol-light;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .section1 {
    @media (min-width: 1280px) {
      padding-top: 4em;
    }
    padding-top: 2em;
    .image-backdrop {
      @media (min-width: 768px) {
        position: relative;
        left: 20px;
        top: 0px;
        width: 400px;
        border: solid rgb(219, 219, 219) 2px;
        height: 280px;
        border-radius: 0.6em;
        background-color: rgb(245, 245, 245);
        background-image: url("/images/grid.png");
        background-size: 400%;
      }
    }

    img {
      @media (min-width: 768px) {
        left: 90px;
      }
      top: 40px;
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 0.6em;
      filter: drop-shadow(0 0 7px rgb(177, 177, 177));
    }
  }

  .section2 {
    margin-top: 4em;
    img {
      pointer-events: none;
      position: absolute;
      right: -360px;
      bottom: -250px;
      width: 1350px;
    }
  }

  a {
    font-size: 1.2rem;
    color: $blue-light;
    font-weight: 400;
  }
  .home-custom-shape-divider {
    fill: $white-dark;
  }

  .section3 {
    @media (min-width: 1280px) {
      padding-bottom: 0;
    }
    position: relative;
    background-color: $white-dark;
    padding-bottom: 2em;

    h2 {
      @media (min-width: 768px) {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
      font-size: 2rem;
      font-family: $textHeavy;
      text-align: center;
      padding-inline: 1em;
      line-height: 2.8rem;
      margin: 0;
    }

    p {
      @media (min-width: 768px) {
        width: 600px;
        padding-inline: 0;
      }
      padding-inline: 1em;
      text-align: center;
      line-height: 2em;
      font-size: 1.1rem;
    }

    .content {
      padding-top: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .graphic-container {
      pointer-events: none;
      position: relative;
      top: -100px;
      width: 100vw;
      transform: scale(1.1);
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 100%;
    }

    .download-link {
      @media (min-width: 1280px) {
        top: -100px;
        margin-block: 0;
      }
      position: relative;
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-block: 1em;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      color: gray;
      border: solid gray 3px;
      border-radius: 0.5em;
      font-family: $textHeavy;
    }
  }
}
