@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/variables";
@import "scrollbar";
@import "documentation";
@import "navbar";
@import "download";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-top: $navbar-height;
  background-color: $white-dark;
  font-family: $textNormal;
  color: $textCol-dark;
  font-size: 1rem;
  line-height: 1.6em;
}

a {
  color: rgb(79, 79, 219);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-dark;
  font-family: $textHeavy;
  line-height: 1em;
}

* {
  box-sizing: border-box;
}

.container {
  
}
